{% extends 'base.html' %} 
{% block content %}
  <div class="container-fluid px-4 mt-5 " style="min-height: 100vh">
    <div class="row"> 
      <div class="col-md-2 px-4">
        <h1 class="text-light">| Your Groups</h1>
      </div>

      <div class="col-md-9">
        <div class="row row-cols-1 row-cols-md-3 g-4 equal-height-cards"> 
          {% for data in group_data %}
            <div class="col">
              <div class="card text-center custom-card-color d-flex flex-column h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url 'group_details' group_id=data.group.id %}">{{ data.group.name }}</a>
                  </h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">
                    {{ data.group.description }}
                  </h6>
                  <p class="{% if data.total_owed != 0 %}text-danger{% endif %}">Total Owed: ${{ data.total_owed }}</p>
                  <a href="{% url 'group_update' group_id=data.group.id %}" class="btn btn-primary" style="background-color: #172627;">Update</a>
                  <a href="{% url 'group_delete' group_id=data.group.id %}" class="btn btn-primary" style="background-color: #172627;">Delete</a>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="col">
            <div class="card text-center custom-card-color d-flex flex-column h-100">
              <div class="card-body">
                <h5 class="card-title">
                  <h5 class="text-light">Add Group <span class="badge" style="background-color: #172627;"><a href="{% url 'create_group' %}">+</a></span></h5>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}