{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-center align-items-center vh-100"> 
  <div class="card w-70 mb-3 custom-card-color">
    <h1 class="card-header text-center">Sign Up</h1>
    <div class="card-body bg-light d-flex flex-column align-items-center">
    <p class="red-text">{{ error_message }}</p>

    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if form_errors %}
        <div class="alert alert-danger">
          <strong>Error(s):</strong>
          <ul>
            {% for field, errors in form_errors.items %}
              {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <br>
      <button type="submit" class="btn" style="background-color: #0e2528; color: #ffffff; margin-left: auto; margin-right: auto; display: block;">Sign Up</button>
    </form>
  </div>
</div>
</div>
{% endblock %}