{% extends 'base.html' %} {% block content %}
<div class="card w-75 mb-3">
  <div class="card-body">
    <h1 class="card-title text-center">Sign Up</h1>

    <p class="red-text">{{ error_message }}</p>

    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if form_errors %}
        <div class="alert alert-danger">
          <strong>Error(s):</strong>
          <ul>
            {% for field, errors in form_errors.items %}
              {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}