{% extends 'base.html' %} {% block content %}
<div
  class="container-fluid d-flex justify-content-center align-items-center text-center"
  style="min-height: 100vh">
  <div class="card w-75 m-3 custom-card-color">
    <div class="card-body">
        <br>
      <h1 class="card-title"><strong>Welcome to SPL/T</strong> </h1>
      <br>
      <br>
      <div class="d-flex justify-content-center">
        {% if user.is_authenticated %}
        <button class="btn mx-2" style="background-color: #172627">
          <a href="{% url 'groups_index' %}" class="text-light" >View Your Groups</a>
        </button>
        <button class="btn mx-2" style="background-color: #172627">
          <a href="{% url 'expenses_index' %}" class="text-light">View Your Expenses</a>
        </button>
        {% else %}
        <button class="btn mx-2" style="background-color: #172627">
          <a href="{% url 'login' %}" class="text-light">Log In</a>
        </button>
        <button class="btn mx-2" style="background-color: #172627">
          <a href="{% url 'signup' %}" class="text-light">Sign Up</a>
        </button>
   
        {% endif %}
      </div>
      <br>
    </div>
  </div>
</div>
{% endblock %}
