{% extends 'base.html' %} 
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4"> </div>
<div class="col">
    <div class="card text-center custom-card-color">
        <div class="card-body">
            <h1 class="card-title">Welcome to SPL/T</h1>
    {% if user.is_authenticated %}
    <button class="btn btn-primary" style="background-color: #172627;"><a href="{% url 'groups_index' %}">View Your Groups</a></button>
    <button class="btn btn-primary" style="background-color: #172627;"><a href="{% url 'expenses_index' %}">View Your Expenses</a></button>
    {% else %}
    <button class="btn btn-primary" style="background-color: #172627;"><a href="{% url 'login' %}">Log In</a></button>
    <button class="btn btn-primary" style="background-color: #172627;"><a href="{% url 'signup' %}">Sign Up</a></button>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
