body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #3b4855;
}

.custom-card-color {
    background-color: #b9d8cd;
  }

.custom-nav-color {
    background-color: #b9d8cd;
    
}

a {
    text-decoration: none;
    color: white;

  }