body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #172627;
    font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

h2,h3,h4{
  font-family: 'DM Serif Display', serif;
  color: #172627;
}

.dropdown {
  font-family: 'DM Serif Display', serif;
  font-size: medium;
  color: #172627;

}
.logo {
  font-family: 'DM Serif Display', serif;
  font-size: x-large;
}

.custom-card-color {
    background-color: #77c3c9;
  }

.custom-nav-color {
    background-color: #77c3c9;
    
}

.custom-bg {
  background-color: #77c3c9;
}

a {
    text-decoration: none;
    color: #172627;
  }

.equal-height-cards {
    display: flex;
    flex-wrap: wrap;
  }
.equal-height-cards > .col {
    display: flex;
    flex-direction: column;
  }
.custom-header-height {
  height: 3.3rem;
}

.border-white {
  border: 1rem solid white;
}