body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #0e2528;
}

.custom-card-color {
    background-color: #77c3c9;
  }

.custom-nav-color {
    background-color: #77c3c9;
    
}

.custom-bg {
  background-color: #77c3c9;
}

a {
    text-decoration: none;
    color: white;

  }

.equal-height-cards {
    display: flex;
    flex-wrap: wrap;
  }
.equal-height-cards > .col {
    display: flex;
    flex-direction: column;
  }

