{% extends 'base.html' %}
{% block content %}

<h1>Your Expenses</h1>

{% for expense in expenses %}
  <div>
    <div>
      {% if expense.id %}
        <span><a href="{% url 'expense_details' expense_id=expense.id %}">{{ expense.title}}</a></span>
      {% else %}
        <span>{{ expense.title }}</span> 
      {% endif %}
      <span>{{ expense.group }}</span>
      <p>Expense Type: {{ expense.type }}</p>
      <p>Expense Description: {{ expense.description}}</p>
      <p>Total Amount: {{ expense.amount}}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}